@font-face {
  font-family: 'Eina 04 W03 SemiBold';
  src: local("Eina 04 W03 SemiBold"), url(./fonts/einafont.ttf) format("truetype");
}

.nav-menu {
  height: 305px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: white;
  font-family: Eina 4 W03 SemiBold;
  font-weight: 600;
}

.ul-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: scroll;
  white-space: nowrap;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
}

.ul-main li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Eina 4 W03 SemiBold;
  line-height: 18.75px;
  position: relative;
  left: 514px;
  margin-left: 22px;
  top: -3px;
}

.fixedbutton {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Eina 4 W03 SemiBold;
  font-weight: 600;
  font-size: 16px;
  width: 84px;
  min-width: 84px;
  height: 30px;
  margin-left: 23px;
  margin-bottom: 24px;
  margin-right: 20px;
  border: none;
  background-color: #dcdfec;
  border-radius: 4px;
  cursor: pointer;
}

.smaller-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  width: 31px;
  min-width: 31px;
  height: 30px;
  margin-left: 23px;
  margin-bottom: 24px;
  margin-right: 20px;
  border: none;
  background-color: #dcdfec;
  border-radius: 4px;
  cursor: pointer;
}

.control-text-button {
  margin-top: -1px;
}

.remove-text {
  display: none;
}

.img-space {
  margin: 5px;
  margin-bottom: 8px;
}

.filter-control {
  margin-top: 6.5px;
}

.remove-notification {
  background-color: white;
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.notification {
  visibility: visible;
  position: absolute;
  top: -3px;
  left: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 14px;
  height: 14px;
  color: #FFFFFF;
  background-color: #FC6C44;
  border-radius: 50%;
  font-size: 10px;
  line-height: 12px;
}

@media only screen and (max-width: 320px) {
  .ul-main li {
    left: 537.5px;
  }
}
/*# sourceMappingURL=Navbar.css.map */