$regular-fontFamily-for-mobile-navbar: Eina03-SemiBold;
$regular-fontSize-for-mobile-navbar: 16px;
$button-background-color: #757fbd;
@font-face {font-family: "Eina03-SemiBold"; src: url("//db.onlinewebfonts.com/t/b158925a1d762313849f2482a415369d.eot"); src: url("//db.onlinewebfonts.com/t/b158925a1d762313849f2482a415369d.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/b158925a1d762313849f2482a415369d.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/b158925a1d762313849f2482a415369d.woff") format("woff"), url("//db.onlinewebfonts.com/t/b158925a1d762313849f2482a415369d.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/b158925a1d762313849f2482a415369d.svg#Eina03-SemiBold") format("svg"); }

.nav-menu {
  height: 305px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: white;
  font-family: $regular-fontFamily-for-mobile-navbar;
  }
.ul-main {
  display: flex;
  justify-content: center;
  align-items: center;
    overflow-x: scroll;
  white-space: nowrap;
  list-style: none;
  text-decoration: none;
  font-size: $regular-fontSize-for-mobile-navbar;
  }
.ul-main li {
  display: flex;
  justify-content: center;
  align-items:center;
  font-family: $regular-fontFamily-for-mobile-navbar;
  line-height: 18.75px;
  position: relative;
  left: 520px;
  top: -3.5px;
  margin-left: 22px;
  }

.fixedbutton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $regular-fontFamily-for-mobile-navbar;
  font-size: 16px;
  width: 84px;
  min-width: 84px;
  height: 30px;
  margin-left: 23px;
  margin-bottom: 24px;
  margin-right: 20px;
  border:none;
  background-color: rgb(220, 223, 236);
  border-radius: 4px;
  cursor: pointer;
}
.smaller-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 31px;
  min-width: 31px;
  height: 30px;
  margin-left: 23px;
  margin-bottom: 24px;
  margin-right: 20px;
  border:none;
  background-color: rgb(220, 223, 236);
  border-radius: 4px;
  cursor: pointer;
}
.control-text-button {
  margin-top: 2.5px;
}
.remove-text {
  display: none;
}
.img-space {
  margin: 5px;
}

.remove-notification {
  display: none;

}
.notification {
  display: block;
  position: absolute;
  top: 248px;
  left: 45px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 14px;
  height: 14px;
  color: #FFFFFF;
  background-color: #FC6C44;
  border-radius: 50%;
  font-size: 10px;
  line-height: 12px;
}

@media only screen and (max-width: 320px) {
  .ul-main li {
    left: 537.5px;
  }
}
